.envs/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*/__pycache__
*/*/__pycache__


scholar.log
archive/all-duplicate.json

leads/test.json
noresults/test-results.json
results/test-results.json
